/* This file is for your main application css. */

body {
  margin: 0;
  padding: 0;
}

.help-block {
  color: red;
  text-transform: capitalize;
  position: absolute;
  top: 37px;
}

.form-group {
  position: relative;
  margin-bottom: 35px;
}
